<nb-card>
  <nb-card-body>

    <div class="row">
    <div class="col-md-12">

      <div class="form-group"  style="background-color: white;"> 
        <input #input type="text" [hidden]="filters?.length > 0" (keyup.enter)="luceneSearch($event)" class="form-control form-control-rounded" id="input03" placeholder="Search for...">
      </div>
      <div style="margin-bottom: 5px;">

        <div #filterButton style="border-radius: 9px;display: inline;border: 1px solid rgba(255, 255, 255, .5);padding: 3px 5px 3px 5px;cursor: pointer;"(click)="filterModal()"> 
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          <p style="display:inline">Add Filter</p>
        </div>
      </div>
      <div class="col-md-12" style="padding: 0;">
      <form [formGroup]="filterForm" (ngSubmit)="filterSearch(filterForm)">
        <div class="row show-grid">
          <div class="col-md-3" style="margin-top:5px;margin-bottom:5px;" *ngFor="let filter of filters;">
            <div class="col-md-12" style="padding-left:0px;padding-right:2px;"> 
              <!-- <p style="display:inline">{{filter.name}}</p> -->
             <div class="form-group" style="margin-bottom:0px;">
                  <label style="margin-bottom: 0px;margin-bottom: 0px;margin-left: 3px;">{{filter.name}}</label>
                  <i (click)="removeFilter(filter.name)" style="cursor: pointer;float:right;margin-right: 1px;margin-top: 2px;" class="fa fa-window-close" aria-hidden="true"></i>
                  <input type="text" class="form-control" [formControlName]="filter.name" maxlength="200" name="{{filter.name}}"> <!-- [(ngModel)]="filter.name" -->
              </div>
            </div>
          </div>
        </div>
        <button style="margin-top:3px;margin-bottom:3px;" *ngIf="filters?.length > 0" type="submit" (click)="initSearch()" class="btn btn-primary">Search</button>
      </form>
      </div>
      <div class="col-md-12" style="padding: 0;">

      <div *ngIf="(role=='admin' || role=='venture' || role=='global') && dealflowname == 0" class="col-md-6" style="padding:0px;">
          <div class="button-wrapper">
            <a [routerLink]="['/pages/newstartup']">
            <button type="button" id="exportpdf" class="btn btn-default btn-raised">New Startup</button>
            </a>
          </div>
      </div>
      <div *ngIf="dealflowname != 0 && !permission" style="padding-top:10px;padding-bottom:5px;">                   
          <h2 style="color: red;">
            You do not have permission to add startups to this dealflow
          </h2>
      </div>
      <div *ngIf="dealflowname != 0 && permission" style="padding-top:10px;padding-bottom:5px;">                   
          <h2>
            Add Startups to {{dealflowname}} Dealflow
          </h2>
      </div>
    </div>


    <div class="row show-grid">
      <div class="col-md-4" *ngFor="let obj of asyncCompanies | async | paginate: { id: 'server', itemsPerPage: 12, currentPage: p, totalItems: total }"> <!--| smArraySearch: input.value-->
        <div *ngIf="!loading && !error"  style="padding-top:15px;padding-bottom:15px;overflow: hidden;padding-right:1px;padding-left:1px;">
          
          <div class="col-md-12" style="overflow:hidden;border:1px solid rgb(33, 205, 152);border-radius: 7px; background-color: rgba(255, 255, 255, 0.8);height:370px;padding-top:15px;padding-bottom:15px;">
          <div class="row">
            <div class ="col-md-3">
            <a target="_blank" [routerLink]="['/pages/company', obj.id]">
              <div *ngIf="!obj?.thumbnail" class="col-md-3" style="padding:0px;display:inline-block;width:auto;">
                <div class="fa fa-plug fa-4x" aria-hidden="true" style="width:60px;border:1px solid #dddddd ; border-radius: 7px;"></div>
              </div>
              <div *ngIf="obj?.thumbnail" class="col-md-3" style="padding:0px;display:inline-block;width:auto;"><img class="thumbnail_{{obj.id}}" src="data:image/png;base64,{{obj.thumbnail}}" style="width:60px;border:1px solid #dddddd ; border-radius: 7px;" alt="Business Profile" ></div>
            </a>
          </div>
            <div class="col-md-9">
              <div class="col-md-12" style="padding:0;">
                <a target="_blank" [routerLink]="['/pages/company', obj.id]">
                  <div style="padding-bottom:5px;font-size: 18px; color: #000000; opacity: .87; font-family: 'DINPro-Light', Arial, sans-serif;">{{obj.companyName}} <p *ngIf="obj?.portfolio" style="font-family: DINPro-Light, CenturyGothic, AppleGothic, sans-serif;display: inline;font-size: 12px;color: goldenrod;font-weight: 400;">PORTFOLIO COMPANY</p></div>              
                </a>
              </div>
              <div  *ngIf="role=='admin' || role=='venture'" class="col-md-12" style="padding:0;">
                <div *ngIf="dealflowname == 0">
                  <button class="top20btn" (click)="top20Modal(obj)">20</button>
                  <button class="top100btn" (click)="top100Modal(obj)">100</button>
                  <button class="batchbtn" (click)="batchModal(obj)">Batch</button>
                  <button class="dealflowbtn" (click)="dealflowModal(obj)">DF</button>
                  <div *ngIf="role=='admin' || role=='venture'" style="display:inline;">
                    <a class="deleteStartup" href="javascript:void(0)" (click)="deleteStartup(obj)">
                    <span title="Delete startup"><i style="padding-top:3px;color:black" class="fa fa-trash-o" aria-hidden="true"></i></span>
                    </a>
                  </div>
                </div>
                <div *ngIf="dealflowname != 0 && permission">
                  <div class="button-wrapper">
                    <button type="button" id="addStartup" class="btn btn-default btn-raised" style="float:left;" (click)="addDealflow(obj.id, dealflowname)">Add Startup</button>
                  </div>
                  <!--<span>Hello, World!</span>-->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-12" style="margin-top:10px;word-wrap: break-word;">
              <div *ngIf="obj?.blurb">
              <div *ngIf="obj?.blurb.length > 300" style="font-family:DINPro-Light;margin-top:10px;font-size: 11px; color: #000000 ; opacity: .54;border-top: 1px solid #dddddd;padding-top:10px;">{{obj.blurb | slice:0:300}}...
                <div *ngIf="obj?.blurb" style="width:60px;color: #000000; opacity: .54;">See more...</div>
              </div>
              <div *ngIf="obj?.blurb.length < 300" style="font-family:DINPro-Light;margin-top:10px;font-size: 11px; color: #000000 ; opacity: .54;border-top: 1px solid #dddddd;padding-top:10px;">{{obj.blurb}}</div>
            </div>
          </div>
        </div>
          <div class="row" style="padding:0;margin-top:10px;margin-bottom:10px;">
            <div class="col-md-6" style="padding-right:7.5px;">
              <div *ngIf="obj?.pnpContact" style="margin-top:10px;font-size: 12px; color: #000000; opacity: .54;border-top: 1px solid #dddddd;padding-top:10px;">ACCOUNT MANAGER</div>
              <div style="font-size: 11px; color: #000000 ; opacity: .54;">{{obj.pnpContact}}</div>
              <div *ngIf="obj?.website" style="margin-top:10px;font-size: 12px; color: #000000; opacity: .54;border-top: 1px solid #dddddd;padding-top:10px;">WEBSITE</div>
              <div *ngIf="obj?.website" style="overflow-wrap: break-word;font-size: 10px"><a style="color: #24a2ff" href="{{obj.website}}" target="_blank">{{obj.website}}</a></div>
            </div>
            <div class="col-md-6" style="padding-left:7.5px;">
            
              <div *ngIf="obj?.verticals">
                <div *ngIf="obj?.verticals" style="margin-top:10px;font-size: 12px; color: #000000; opacity: .54;border-top: 1px solid #dddddd;padding-top:10px;">VERTICALS</div>
                <div *ngIf="obj?.verticals.length < 50" style="font-size: 11px; color: #000000 ; opacity: .54;">{{obj.verticals}}</div>
                <div *ngIf="obj?.verticals.length > 50" style="font-size: 11px; color: #000000 ; opacity: .54;">{{obj.verticals | slice:0:50}}</div>
              </div>
              <div *ngIf="obj?.verticals">
                <div *ngIf="obj?.city" style="margin-top:10px;font-size: 12px; color: #000000; opacity: .54;border-top: 1px solid #dddddd;padding-top:10px;">LOCATION</div>
                <div *ngIf="obj?.city" style="font-size: 11px; color: #000000 ; opacity: .54;">{{obj.city}}</div>
                <div *ngIf="obj?.location" style="font-size: 11px; color: #000000 ; opacity: .54;">{{obj.location}}</div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div *ngIf="loading" style="margin: 0 auto;width: 100px;">
        <div class="spinner"></div>
      </div>
      <div *ngIf="error" style="margin: 0 auto;width: 500px;">
        <p>Your search - {{searchString}} - did not match any documents.</p>
      </div>
      <div class="col-md-10">
        <pagination-controls  class="my-pagination" (pageChange)="getPage($event)" id="server"></pagination-controls>  
      </div>
    </div>
  </div>
  </div>
  </nb-card-body>
</nb-card>