<nb-layout style="overflow:scroll">
    <nb-layout-column>
  <nb-card style="width:90%;margin-left:5%;">
      <nb-card-body>
      <form [formGroup]="dealflowForm" (ngSubmit)="save(dealflowForm)">
      <div class="row">
        <div class="col-md-12">
            <mat-tab-group [selectedIndex]="0">
              <mat-tab label="Details">
                <div *ngIf="!loading && !error" class="col-md-12" style="padding-top:25px; border-bottom: 1px solid #dddddd; margin-bottom:20px">
                  <div class="row">
                    <div class="col-md-6">
                      <div style="font-family:DINPro-Light;display:inline;font-size:15px;color: goldenrod;">{{dealflow?.dealflow_State}}</div>
                      <div style="font-family:DINPro-Light;font-weight:bold;font-size:40px">{{dealflow.dealflow_Name}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6" style="margin-bottom:10px;">
                      <div style="font-family:DINPro-Light;color:black;font-size:20px;">
                        <div style="float:left;">Date: {{dealflow?.event_Date}}</div>
                        <div style="float:left;margin-left:15px;">Time: {{timeStart}} - {{timeEnd}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-top:10px;">
                  <div class="col-md-12">
                    <div class="col-md-4" style="float:left;width:35%;">
                      <div style="font-size: 10px; color: black; opacity: .40;">EVENT SUMMARY</div>
                      <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">{{dealflow?.event_Summary}}</div>
                      <div style="font-size: 10px; color: black; opacity: .40;">EVENT LOCATION</div>
                      <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">{{dealflow?.event_Location}}</div>
                      <div style="font-size: 10px; color: black; opacity: .40;">VERTICALS</div>
                      <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">{{dealflow?.verticals}}</div>
                      <div style="font-size: 10px; color: black; opacity: .40;">PURPOSE</div>
                      <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">{{dealflow?.purpose}}</div>
                    </div>
                    <div class="col-md-4" style="float:left;width:35%;">
                      <div style="font-size: 10px; color: black; opacity: .40;">VIRTUAL JOIN</div>
                      <div *ngIf="dealflow?.virtual_Join" style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">WebEx is okay</div>
                      <div *ngIf="!dealflow?.virtual_Join" style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">WebEx is not okay</div>
                      <div style="font-size: 10px; color: black; opacity: .40;">SPECIFIC INTERESTS</div>
                      <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">{{dealflow?.specific_Interests}}</div>
                      <div style="font-size: 10px; color: black; opacity: .40;">EXTRA DETAIL</div>
                      <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">{{dealflow?.extra_Detail}}</div>
                    </div>
                    <div class="col-md-4" style="float:left;width:35%;">
                      <div style="font-size: 10px; color: black; opacity: .40;">ATTENDEES</div>
                      <div *ngFor="let each of attendee_array" class="col-md-12" style="font-family:DINPro-Light;font-size: 12px; color: black;padding-left:0px;padding-bottom:10px;">
                        <div class="col-md-12" style="width:auto;padding-left:0px;">
                            <div class="col-md-4" style="font-family:DINPro-Light;font-size:12px;width:auto;padding-right:5px;padding-left:0px;">{{each.name}}</div>
                            <div class="col-md-4" style="font-family:DINPro-Light;font-size:12px;width:auto;padding-right:5px;padding-left:0px;">{{each.position}}</div>
                            <div class="col-md-4" style="font-family:DINPro-Light;font-size:12px;width:auto;padding-right:5px;padding-left:0px;">{{each.email}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Top 20">
                <div class="row" style="width: 100%;">
                    <div class="col-md-12" style="margin-left:15px;">
                        <nb-card style="margin-top:25px;">
                          <nb-card-body>
                            <div *ngIf="!loading && !error">
                              <div *ngFor="let obj of venturesList; let i = index" class="row" style="padding-top:15px;margin-left:5px;padding-bottom:15px;border-bottom: 1px solid #d6d6d6;margin-bottom: 10px; background-color: rgba(255, 255, 255, 0.8);width:100%;">
                                <div [ngStyle]="overlay">
                                  <div class="row">
                                    <div class="col-md-4" style="width:auto;display:inline-block;">
                                      <a [routerLink]="['/pages/company', obj.id]">
                                        <div style="font-size: 20px; color: #000000; opacity: .87;font-family:DINPro-Light; padding-bottom: 10px">{{obj.companyName}}</div>
                                      </a>
                                      <div *ngIf="obj?.blurb" style="font-size: 11px; color: #000000; opacity: .54;margin-bottom:10px;">{{obj?.blurb}}</div>
                                      <div *ngIf="obj?.website" style="font-size: 13px; color: #000000; opacity: .38; font-weight: 400;margin-bottom:10px;"><a style="color: #24a2ff" href="{{obj?.website}}" target="_blank">{{obj?.website}}</a></div>
                                      <div *ngIf="obj?.location" style="font-size: 12px; color: #000000; opacity: .38;">{{obj?.location}}</div>
                                    </div>
                                    <div class="col-md-2" style="width:auto;display:inline-block;">
                                      <div *ngIf="obj?.verticals" style="font-size: 10px; color: #000000; opacity: .38;">Verticals:</div>
                                      <div *ngIf="obj?.verticals" style="font-size: 12px; color: #000000; opacity: .54;margin-bottom:10px;">{{obj?.verticals}}</div>
                                      <div *ngIf="obj?.tags" style="font-size: 10px; color: #000000; opacity: .38;">Tags:</div>
                                      <div *ngIf="obj?.tags" style="font-size: 12px; color: #000000; opacity: .54;overflow-wrap: break-word;margin-bottom:10px;">{{obj?.tags}}</div>
                                      <div *ngIf="obj?.pnpContact" style="font-size: 10px; color: #000000; opacity: .38;">Account Manager:</div>
                                      <div *ngIf="obj?.pnpContact" style="font-size: 12px; color: #000000; opacity: .54;margin-bottom:10px;">{{obj?.pnpContact}}</div>
                                    </div>
                                    <div class="col-md-6" style="width:auto;display:inline-block;">
                                      <div style="font-size: 12px; color: #000000; opacity: .38;margin-bottom:5px;">Select Priority:</div>
                                      <div class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group ng-valid ng-dirty ng-touched" role="group" ng-reflect-model="left" style="width:50%;">
                                        <label class="btn btn-outline-primary" [class.active]="buttonSelect[i] === 1" ngbbuttonlabel="">
                                          <input ngbbutton="" (click)="selectPriority(obj.id,dealflow.dealflow_Name,'Primary',i)" type="radio" value="left" ng-reflect-value="left" name="ngb-radio-2"> Primary
                                        </label>
                                        <label class="btn btn-outline-primary" [class.active]="buttonSelect[i] === 2" ngbbuttonlabel="" style="border-width: 2px 0px 2px 0px;">
                                          <input ngbbutton="" (click)="selectPriority(obj.id,dealflow.dealflow_Name,'Secondary',i)" type="radio" value="middle" ng-reflect-value="middle" name="ngb-radio-2"> Secondary
                                        </label>
                                        <label class="btn btn-outline-primary" [class.active]="buttonSelect[i] === 3" ngbbuttonlabel="">
                                          <input ngbbutton="" (click)="selectPriority(obj.id,dealflow.dealflow_Name,'Rejected',i)" type="radio" value="right" ng-reflect-value="right" name="ngb-radio-2"> Not Applicable
                                        </label>
                                      </div>
                                      <mat-form-field style="width:75%;margin-top:15px;" formArrayName="priority_feedback" class="form-group" [formGroupName]="i">
                                        <textarea matInput matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5" [group]="dealflowForm.controls.priority_feedback.controls[i]" [(ngModel)]="comments[i]" id="priority_feedback" class="form-control" formControlName="feedback" placeholder="Please give feedback for your choice." required></textarea>
                                      </mat-form-field>
                                    </div>
                                    <div *ngIf="loading" style="margin: 0 auto;width: 100px;padding-top:70px;">
                                      <div class="playbook-loader"></div>
                                    </div>
                                    <div *ngIf="error"  style="margin-left: 15px; margin-top:15px;width: 500px;">
                                      <p>Could not find any {{listname}} Top 20 ventures.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </nb-card-body>
                        </nb-card>
                        <button type="submit" class="btn btn-default btn-raised" style="margin-top:20px;margin-bottom:20px;float:right;">
                            Submit
                        </button>
                    </div>
                  </div>
              </mat-tab>
            </mat-tab-group>
        </div>
      </div>
    </form>
  </nb-card-body>
  </nb-card>
  </nb-layout-column>
  </nb-layout>


<!--(click)="sendStartupForScheduling();dealflowState='Scheduling'"-->