<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
          <mat-tab-group [selectedIndex]="0">
            <mat-tab label="Details">
              <div *ngIf="!loading && !error" class="col-md-12" style="padding-top:25px; width:100%">
                  <div class="row">
                    <div class="col-md-6">
                      <div style="font-family:DINPro-Light;display:inline;font-size:15px;color: goldenrod;">{{dealflow?.dealflow_State}}</div>
                      <div style="font-family:DINPro-Light;font-weight:bold;font-size:40px">{{dealflow.dealflow_Name}}</div>
                    </div>
                    <div class="col-md-6" style="padding-top:5px;">
                      <a [routerLink]="['/pages/editdealflow']" [queryParams]="{dealflowname: dealflowname}">
                        <button type="button" class="btn btn-default btn-raised" style="margin-top:20px;">
                          Edit Dealflow
                        </button>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div style="font-family:DINPro-Light;color:black;font-size:20px;">
                        <div>Date: {{dealflow?.event_Date}}</div>
                        <div>Time: {{dealflow?.event_Start}} - {{dealflow?.event_Stop}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="padding:0px;padding-bottom:20px; padding-top: 20px;margin-bottom:20px; border-bottom: 1px solid #dddddd;">
                    <!-- <div class="col-md-3" style="width:auto; padding:0px;">
                      <div class="col-md-12" style="font-family:DINPro-Light;float: left">
                        <div style="font-size: 12px; color:#343434;">Corporation: Test Corp</div>
                        <div style="display:block;">
                          <div class="fa fa-external-link" aria-hidden="true" style="display:inline-block;color:#3c3c3c;font-size: 16px;"></div>
                          <div style="display:inline-block;margin-top:4px;margin-left:6px;font-family:DINPro-Light;color:#343434;font-size:12px;">
                              <a style="color: #343434" href="http://google.com/" target="_blank">Website</a>
                          </div>
                        </div>
                        <div class="fa fa-globe" aria-hidden="true" style="display:inline-block;color:#3c3c3c;font-size: 16px;"></div>
                        <div style="display:inline-block;margin-top:4px;margin-left:6px;font-family:DINPro-Light;color:#343434;font-size:12px;">Santa Clara, CA</div>
                        <div style="display:block;">
                          <div class="fa fa-external-link" aria-hidden="true" style="display:inline-block;color:#3c3c3c;font-size: 16px;"></div>
                          <div style="display:inline-block;margin-top:4px;margin-left:6px;font-family:DINPro-Light;color:#343434;font-size:12px;">
                            <a style="color: #343434" href="http://google.com/" target="_blank">Pitch Deck</a>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="col-md-2" style="width:auto;">
                      <div class="col-md-12" style="display:inline-block;padding:0px;">
                        <div style="font-size: 10px;font-size: 12px; color: #000000; opacity: .40;">LEAD</div>
                        <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{lead_name}}</div>
                        <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{lead_email}}</div>
                      </div>
                    </div>
                    <div class="col-md-2" style="width:auto;">  
                      <div class="col-md-12" style="display:inline-block;padding:0px;">
                        <div style="font-size: 10px;font-size: 12px; color: #000000; opacity: .40;">ACCOUNT MANAGER</div>
                        <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{account_manager_name}}</div>
                        <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{account_manager_email}}</div>
                      </div>
                    </div>
                    <div class="col-md-2" style="width:auto;">
                      <div class="col-md-12" style="display:inline-block;padding:0px;">
                        <div style="font-size: 10px;font-size: 12px; color: #000000; opacity: .40;">VENTURE ASSOCIATE</div>
                        <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{venture_associate_name}}</div>
                        <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{venture_associate_email}}</div>
                      </div>
                    </div>
                    <div class="col-md-2" style="width:auto;">
                      <div class="col-md-12" style="display:inline-block;padding:0px;">
                        <div style="font-size: 10px;font-size: 12px; color: #000000; opacity: .40;">CHAMPION</div>
                        <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{champion_name}}</div>
                        <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{champion_email}}</div>
                      </div>
                    </div>
                    <div class="col-md-2" style="width:auto;">
                      <div class="col-md-12" style="display:inline-block;padding:0px;">
                        <div style="font-size: 10px;font-size: 12px; color: #000000; opacity: .40;">SUPPORTING MEMBERS</div>
                        <div *ngIf="supporting_member1_name" style="padding-bottom:5px;">
                            <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{supporting_member1_name}}</div>
                            <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{supporting_member1_email}}</div>
                          </div>
                          <div *ngIf="supporting_member2_name" style="padding-bottom:5px;">
                            <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{supporting_member2_name}}</div>
                            <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{supporting_member2_email}}</div>
                          </div>
                          <div *ngIf="supporting_member3_name" style="padding-bottom:5px;">
                            <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{supporting_member3_name}}</div>
                            <div style="font-family:DINPro-Light;font-size: 12px;color:#3c3c3c;overflow:hidden;">{{supporting_member3_email}}</div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6" style="float:left;width:35%;">
                    <div style="font-size: 10px; color: black; opacity: .40;">EVENT SUMMARY</div>
                    <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">{{dealflow?.event_Summary}}</div>
                    <div style="font-size: 10px; color: black; opacity: .40;">EVENT LOCATION</div>
                    <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">{{dealflow?.event_Location}}</div>
                    <div style="font-size: 10px; color: black; opacity: .40;">EVENT AGENDA</div>
                    <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;white-space:pre-wrap;">{{dealflow?.event_Agenda}}</div>
                    <div style="font-size: 10px; color: black; opacity: .40;">ADDITIONAL ATTENDEES</div>
                    <div *ngFor="let each of attendee_array" class="col-md-12" style="font-family:DINPro-Light;font-size: 12px; color: black;padding-left:0px;padding-bottom:10px;">
                      <div class="col-md-12" style="width:auto;padding-left:0px;">
                          <div class="col-md-4" style="font-family:DINPro-Light;font-size:12px;width:auto;padding-right:5px;padding-left:0px;">{{each.name}}</div>
                          <div class="col-md-4" style="font-family:DINPro-Light;font-size:12px;width:auto;padding-right:5px;padding-left:0px;">{{each.position}}</div>
                          <div class="col-md-4" style="font-family:DINPro-Light;font-size:12px;width:auto;padding-right:5px;padding-left:0px;">{{each.email}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" style="float:left;width:35%;">
                    <div style="font-size: 10px; color: black; opacity: .40;">VERTICALS</div>
                    <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">{{dealflow?.verticals}}</div>
                    <div style="font-size: 10px; color: black; opacity: .40;">PURPOSE</div>
                    <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">{{dealflow?.purpose}}</div>
                    <div style="font-size: 10px; color: black; opacity: .40;">RELATIONSHIP</div>
                    <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">{{dealflow?.relationship}}</div>
                    <div style="font-size: 10px; color: black; opacity: .40;">VIRTUAL JOIN</div>
                    <div *ngIf="dealflow?.virtual_Join" style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">WebEx is okay</div>
                    <div *ngIf="!dealflow?.virtual_Join" style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">WebEx is not okay</div>
                    <div style="font-size: 10px; color: black; opacity: .40;">EXTRA DETAIL</div>
                    <div style="font-family:DINPro-Light;font-size: 12px; color: black;padding-bottom:10px;">{{dealflow?.extra_Detail}}</div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Top 20">
              <div class="row" style="width: 100%;">
                  <div class="col-md-12" style="margin-left:15px;margin-top:15px;">
                      <a [routerLink]="['/pages/startups']" [queryParams]="{dealflowname: dealflowname}">
                        <button type="button" class="btn btn-default btn-raised" style="margin-top:20px;margin-bottom:20px;">
                          Add Startup
                        </button>
                      </a>
                      <button type="button" class="btn btn-default btn-raised" style="margin-top:20px;margin-bottom:20px;">
                          Send
                      </button>
                      <nb-card>
                        <nb-card-body>
                          <div *ngIf="!loading && !error">
                            <div *ngFor="let obj of venturesList" class="row" style="padding-top:15px;margin-left:5px;padding-bottom:15px;border-bottom: 1px solid #d6d6d6;margin-bottom: 10px; background-color: rgba(255, 255, 255, 0.8);width:auto;">
                              <div [ngStyle]="overlay">
                                <div class="row">
                                  <div class="col-md-6" style="width:auto;display:inline-block;">
                                    <a [routerLink]="['/pages/company', obj.id]">
                                      <div style="font-size: 20px; color: #000000; opacity: .87;font-family:DINPro-Light; padding-bottom: 10px">{{obj.companyName}}</div>
                                    </a>
                                    <div *ngIf="obj?.blurb" style="font-size: 11px; color: #000000; opacity: .54;margin-bottom:10px;">{{obj?.blurb}}</div>
                                    <div *ngIf="obj?.website" style="font-size: 13px; color: #000000; opacity: .38; font-weight: 400;margin-bottom:10px;"><a style="color: #24a2ff" href="{{obj?.website}}" target="_blank">{{obj?.website}}</a></div>
                                    <div *ngIf="obj?.location" style="font-size: 12px; color: #000000; opacity: .38;">{{obj?.location}}</div>
                                  </div>
                                  <div class="col-md-4" style="width:auto;display:inline-block;">
                                    <div *ngIf="obj?.verticals" style="font-size: 10px; color: #000000; opacity: .38;">Verticals:</div>
                                    <div *ngIf="obj?.verticals" style="font-size: 12px; color: #000000; opacity: .54;margin-bottom:10px;">{{obj?.verticals}}</div>
                                    <div *ngIf="obj?.tags" style="font-size: 10px; color: #000000; opacity: .38;">Tags:</div>
                                    <div *ngIf="obj?.tags" style="font-size: 12px; color: #000000; opacity: .54;overflow-wrap: break-word; margin-bottom:10px;">{{obj?.tags}}</div>
                                    <div *ngIf="obj?.pnpContact" style="font-size: 10px; color: #000000; opacity: .38;">Account Manager:</div>
                                    <div *ngIf="obj?.pnpContact" style="font-size: 12px; color: #000000; opacity: .54;margin-bottom:10px;">{{obj?.pnpContact}}</div>
                                    <div *ngIf="role=='admin' || role=='venture'">
                                      <div *ngIf="obj?.contactName" style="font-size: 10px; color: #000000; opacity: .38;">Primary Contact:</div>
                                      <div *ngIf="obj?.contactName" style="font-size: 12px; color: #000000; opacity: .54;margin-bottom:10px;">{{obj?.contactName}} <br>{{obj?.email}}</div> 
                                    </div>
                                  </div>

                                  <div class="col-md-2" style="float:right;">
                                    <div *ngIf="(role=='admin' || role=='venture')" style="float:right;width:50px;margin-right:50%;">
                                      <a class="top20" (click)="removeDealflow(obj.id,dealflow.dealflow_Name)" style="z-index: 100;cursor: pointer;position: relative; margin:10px;width:auto;"><span title="Remove from Top 20"><i aria-hidden="true" class="fa fa-times" style="color:white;"></i></span></a>
                                    </div>
                                  </div>

                                  <div *ngIf="loading" style="margin: 0 auto;width: 100px;padding-top:70px;">
                                    <div class="playbook-loader"></div>
                                  </div>
                                  <div *ngIf="error"  style="margin-left: 15px; margin-top:15px;width: 500px;">
                                    <p>Could not find any {{listname}} Top 20 ventures.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </nb-card-body>
                      </nb-card>
                  </div>
                </div>
            </mat-tab>

            <mat-tab label="Scheduling">
                <div class="row" style="width: 100%;">
                    <div class="col-md-12" style="margin-left:15px;margin-top:15px;">

                        <div class="row" style="width:100%;margin-top:2%">
                          <div class="row show-grid col-md-4">
                            <div *ngIf="!loading && !error">
                              <mat-checkbox ng-model="isChecked" aria-label="Finished?" style="font:bold; padding-top:15px" (change)="primaryCheckAll = !primaryCheckAll; allPrimary()">Primary</mat-checkbox>
                                <div *ngIf="!primaryStartups.length > 0" style="padding-top:5px;margin-left:30px;padding-bottom:15px;border-bottom: 1px solid #d6d6d6; background-color: rgba(255, 255, 255, 0.8);">None</div>
                                <div *ngFor="let primary of primaryStartups" class="col-md-12" style="padding-top:5px;margin-left:20px; margin-bottom: 10px;padding-bottom:5px;border-bottom: 1px solid #d6d6d6; background-color: rgba(255, 255, 255, 0.8);">
                                    <mat-checkbox ng-model="isChecked" aria-label="Finished?" name="primary" (change)="checkUncheck(primary)" [checked]="primaryCheckAll" style="font-size: 15px; color: #000000; opacity: .87; font-family: 'Arial Narrow', Arial, sans-serif;">{{primary.companyName}}</mat-checkbox>
                                </div>
                              <mat-checkbox ng-model="isChecked" aria-label="Finished?" style="font:bold; padding-top:15px" (change)="secondaryCheckAll = !secondaryCheckAll; allSecondary()">Secondary</mat-checkbox>
                                <div *ngIf="!secondaryStartups.length > 0" style="padding-top:5px;margin-left:30px;padding-bottom:15px;border-bottom: 1px solid #d6d6d6; background-color: rgba(255, 255, 255, 0.8);">None</div>
                                <div *ngFor="let secondary of secondaryStartups" class="col-md-12" style="padding-top:5px;margin-left:20px;margin-bottom: 10px;padding-bottom:5px;border-bottom: 1px solid #d6d6d6; background-color: rgba(255, 255, 255, 0.8);">
                                    <mat-checkbox ng-model="isChecked" aria-label="Finished?" name="secondary" (change)="checkUncheck(secondary)" [checked]="secondaryCheckAll" style="font-size: 15px; color: #000000; opacity: .87; font-family: 'Arial Narrow', Arial, sans-serif;">{{secondary.companyName}}</mat-checkbox>
                                </div>
                              <mat-checkbox ng-model="isChecked" aria-label="Finished?" style="font:bold; padding-top:15px" (click)="checkUncheck(rejected)" disabled="true">Rejected</mat-checkbox>
                                <div *ngIf="!rejectedStartups.length > 0" style="padding-top:5px;margin-left:30px;padding-bottom:5px;border-bottom: 1px solid #d6d6d6; background-color: rgba(255, 255, 255, 0.8);">None</div>
                                <div *ngFor="let rejected of rejectedStartups" class="col-md-12" style="padding-top:5px;margin-left:20px;margin-bottom: 10px;padding-bottom:5px;border-bottom: 1px solid #d6d6d6; background-color: rgba(255, 255, 255, 0.8);">
                                    <mat-checkbox ng-model="isChecked" aria-label="Finished?" name="rejected" style="font-size: 15px; color: #000000; opacity: .87; font-family: 'Arial Narrow', Arial, sans-serif;" disabled="true">{{rejected.companyName}}</mat-checkbox>
                                </div>
                              </div>
                            
                            <div *ngIf="loading" style="margin: 0 auto;width: 100px;padding-top:70px;">
                              <div class="playbook-loader"></div>
                            </div>
                            <div *ngIf="error"  style="margin-left: 15px; margin-top:15px;width: 500px;">
                              <p>Could not find any {{listname}} Top 20 ventures.</p>
                            </div>
                          </div>
                          <div class="row show-grid col-md-8">
                            <table style="width:100%">
                                <tr>
                                  <th style="width:90%">Time</th>
                                  <th>Select Startups</th> 
                                </tr>
                                <tr *ngFor="let timeSlots of timeSlots">
                                    <td *ngIf="!loading && !error">{{timeSlots}}</td>
                                    <td *ngIf="!loading && !error">
                                      <select>
                                          <option value="open">Open</option>
                                          <option value="close" selected>Close</option>                                          
                                          <option disabled>Primary</option>
                                          <option disabled *ngIf="!primaryStartups.length > 0">No Primary Startups</option>
                                          <option *ngFor="let primary of primaryStartups">{{primary.companyName}}</option>
                                          <option disabled>Secondary</option>
                                          <option disabled *ngIf="!secondaryStartups.length > 0">No Secondary Startups</option>
                                          <option *ngFor="let secondary of secondaryStartups">{{secondary.companyName}}</option>
                                        </select>
                                    </td>
                                </tr>    
                            </table>
                            <div style="position: relative; left:85%;">
                              <button type="button" class="btn btn-default btn-raised" style="margin-top:20px;margin-bottom:20px;float:right;">
                                Send
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
  </nb-card-body>
</nb-card>
    <!--          <div class="col-md-12" id="tabs">
                  <ul>
                    <li style="width:68px;"><img id="triangle" src="/tourmee/img/profile/triangle.png"/><a href="#tourbuzz">Tourbuzz</a></li>
                    <li style="width:27px;"><img id="triangle" src="/tourmee/img/profile/triangle.png"/><a href="#info">Info</a></li>
                    <li style="width:40px;"><img id="triangle" src="/tourmee/img/profile/triangle.png"/><a href="#menu">Menu</a></li>
                    <li style="width:50px;"><img id="triangle" src="/tourmee/img/profile/triangle.png"/><a href="#photos">Photos</a></li>
                    <li style="width:89px;"><img id="triangle" src="/tourmee/img/profile/triangle.png"/><a href="#experiences">Experiences</a></li>
                    <li style="width:34px;border-right-style:solid;border-right-width:1px;border-right-color:#8a8a8a;"><img id="triangle" src="/tourmee/img/profile/triangle.png"/><a href="#fans">Fans</a></li>
                  </ul>
                </div>-->
  <nb-card *ngIf="!(currentUser?.ref_id == '0' || (currentUser?.role=='startup' && currentUser?.ref_id == id))">
    <nb-card-header ng-show="pageload">Not authorized</nb-card-header>
  </nb-card>
  
  